@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*******************__ GLOBAL Styles __**********************/
body {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

main {
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
}

section {
    margin: 0px 100px;
}

@media only screen and (max-width:580px) {
    section {
        margin: 30px;
    }
}

/*******************__ HEADER Styles __**********************/
#header {
    height: 60vh;
}

.open-navbar {
    flex-direction: column;
    position: absolute;
    top: 0;
    padding-top: 100px;
    right: 0;
    width: 100%;
    height: 50vh;
    padding-left: 20px;
    font-size: 20px;
    gap: 30px;
    align-items: center;
    background: rgba(0, 0, 0, 0.60);
    font-weight: bold !important;
}

.navbar-display {
    display: flex !important;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 999;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 50%, rgba(0, 0, 0, 0.58) 70.31%, rgba(0, 0, 0, 0.00) 100%);
}

#logo {
    display: flex;
    justify-content: start;
    width: 250px;
    z-index: 999;
}

#logo img {
    width: 155px;
    aspect-ratio: 2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    transition: background-color 0.3s;
}

#navbar a:hover,
#navbar a.active {
    color: #158fbf;
    font-weight: bold;
}

#registration-button {
    margin-left: 20px;
}

#registration-button a {
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border: 2px solid white;
    border-radius: 20px;
}

#registration-button a:hover {
    background-color: #158fbf;
    color: black;
    font-weight: bold;
}

.Hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 100vh 100vh rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.hero_content {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

header,
.hero_content {
    height: 60vh;
}

#edition,
#description {
    font-size: 30px;
}

.first_row,
.second_row {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    width: 50vw;
    justify-content: space-evenly;
    text-align: center;
}

.first_row span {
    font-weight: bold;
}

.second_row {
    font-size: 16px;
}

#countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edition,
.autotype-text,
#description,
#countdown {
    color: white;
}

.autotype-text {
    font-size: 25px;
    min-height: 150px;
}

.back-video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1200px) {
    #navbar {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1000px) {
    #navbar {
        font-size: 0.8rem;
    }

    #logo img {
        width: 100px;
    }
}

@media only screen and (max-width: 875px) {
    #navbar {
        justify-content: space-around;
    }

    #logo img {
        width: 155px;
    }

    nav {
        display: none;
    }

    #registration-button {
        display: none;
    }

    #hamburger-button {
        display: block !important;
    }

    #hamburger-button img {
        width: 75px;
    }

    #edition,
    #autotype-text,
    #description {
        font-size: 25px;
    }
}

@media only screen and (max-width: 650px) {

    #edition,
    #autotype-text,
    #description {
        font-size: 20px;
    }
}

/*******************__ ABOUT WHEN WHERE Styles __**********************/

#about_where_when {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

@media only screen and (max-width:650px) {
    #about_where_when {
        font-size: 1rem;
    }
}

/*******************__ SPEAKERS Styles __**********************/
/*******************__ SCHEDULE Styles __**********************/
h2 {
    margin: 5%;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}

.timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
}

.timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 6px;
    align-self: center;
    width: 50vw;
}

.timeline__event:nth-child(2n + 1) {
    flex-direction: row-reverse;
}

.timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0 6px 6px 0;
}

.timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 6px 0 0 6px;
}

.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #008bff;
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #00abf0;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    animation: fillLeft 2s forwards 4s ease-in-out;
}

.timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: #008bff;
    letter-spacing: 1.5px;
}

.timeline__event__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
}

.timeline__event__date {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    background: #008bff;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
}

.timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    background: #008bff;
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 40px;
    height: 40px;
    position: relative;
}

.timeline__event__icon i {
    font-size: 32px;
}

.timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #008bff;
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #008bff;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    animation: fillLeftOdd 2s forwards 4s ease-in-out;
}

.timeline__event__description {
    flex-basis: 60%;
    color: black;
}

.timeline__event--type2:after {
    background: #008bff;
}

.timeline__event--type2 .timeline__event__date {
    color: white;
    background: #008bff;
}

.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
    background: #008bff;
}

.timeline__event--type2 .timeline__event__icon {
    background: #008bff;
    color: white;
}

.timeline__event--type2 .timeline__event__icon:before,
.timeline__event--type2 .timeline__event__icon:after {
    background: #008bff;
}

.timeline__event--type2 .timeline__event__title {
    color: #008bff;
}

.timeline__event--type3:after {
    background: #008bff;
}

.timeline__event--type3 .timeline__event__date {
    color: white;
    background-color: #008bff;
}

.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
    background: #008bff;
}

.timeline__event--type3 .timeline__event__icon {
    background: #008bff;
    color: white;
}

.timeline__event--type3 .timeline__event__icon:before,
.timeline__event--type3 .timeline__event__icon:after {
    background: #008bff;
}

.timeline__event--type3 .timeline__event__title {
    color: #008bff;
}

.timeline__event:last-child .timeline__event__icon:before {
    content: none;
}

@media (max-width: 480px) {
    .timeline__event {
        flex-direction: column;
        align-self: center;
    }

    .timeline__event__content {
        width: 100%;
    }

    .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        width: 100%;
        margin: 0;
        box-shadow: none;
    }

    .timeline__event__icon:before,
    .timeline__event__icon:after {
        display: none;
    }

    .timeline__event__date {
        border-radius: 0;
        padding: 20px;
    }

    .timeline__event:nth-child(2n + 1) {
        flex-direction: column;
        align-self: center;
    }

    .timeline__event:nth-child(2n + 1) .timeline__event__date {
        border-radius: 0;
        padding: 20px;
    }

    .timeline__event:nth-child(2n + 1) .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        margin: 0;
    }
}

@keyframes fillLeft {
    100% {
        right: 100%;
    }
}

@keyframes fillTop {
    100% {
        top: 100%;
    }
}

@keyframes fillLeftOdd {
    100% {
        left: 100%;
    }
}

/*******************__ ORGANIZERS PARTNERS SPONSORS Styles __**********************/
/*******************__ OUR EDITIONS Styles __**********************/
/*******************__ FAQ Styles __**********************/
/*******************__ FOOTER Styles __**********************/
#footer {
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}

.info-item i {

    font-size: 48px;
    margin-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer-container {
    display: flex;
    background: #111;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
}

.socials i {
    font-size: 30px;
    margin-left: 20px;
}

.socials a {

    transition: 0.5s;
}

.socials a:hover {
    color: #00abf0 !important;
    font-size: larger !important;
}

.copyright a {
    color: #008bff;
    text-decoration: underline;
}

@media screen and (max-width:765px) {
    .copyright {
        font-size: 0.8rem;
    }

    .footer-container {
        padding: 5px;
        justify-content: space-around;
    }

    .row {
        display: block;
    }